<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="col-sm-2">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="col-sm-2">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="col-sm-2">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="col-sm-2">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
    <div class="col-sm-2">
      <input type="radio" aria-label="Radio button for following text input">
    </div>
  </div>
  <br>
  <div class="row mt-2">
    <div class="col-sm-2">
      <div class="form-group">
        <select class="form-control" (change) = "onCountryChange($event.target.value)">
            <option  value="-1">--country--</option>
          <option *ngFor="let country of countryInfo; let i = index" value="{{i}}">{{country.CountryName}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <select class="form-control" (change) = "onStateChange($event.target.value)">
          <option *ngIf= " stateInfo == ''" value="-1">--state--</option>
          <option *ngFor="let state of stateInfo; let j = index" value="{{j}}">{{state.StateName}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
          <select class="form-control" (change) = "onCityChange($event.target.value)">
            <option *ngIf= " cityInfo == ''" value ="-1">--city--</option>
            <option *ngFor="let city of cityInfo; let k = index" value="{{k}}">{{city}}</option>
          </select>
        </div>
      </div>
    <div class="col-sm-5">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter here to search ...">
        
      </div>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-outline-secondary" value="Search" (click)="onShow()">Search</button>
    </div>

  </div>
  <!-- table -->
<br>
<br>
  <div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered" infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollUpDistance]="1.5"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScrollDown()"
        (scrolledUp)="onScrollUp()">
            <thead class="thead-light">
              <tr>
                <th scope="col">#UId</th>
                <th scope="col">Country</th>
                <th scope="col">State</th>
                <th scope="col">City</th>
              </tr>
            

              <!-- <tr>
                  <th *ngFor="let column of tables.cols">{{column}}</th>
                </tr> -->
            </thead>
            <tbody>
              <!-- <tr *ngFor= "let countryTab of countryInfo; let g = index">
                <td>{{countryTab.CountryName}}</td>
                <td *ngFor= "let satesTab of countryTab.States">{{satesTab.StateName}}</td>
                <td>{{countryTab.States[0].Cities}}</td>
              </tr> -->
              <!-- <tr *ngFor= "let countryTab of countryInfo; let g = index">
                <td>{{countryTab.CountryName}}</td>
                <td >
                  <tr *ngFor= "let satesTab of countryTab.States; let z = index">
                      <td>{{satesTab.StateName}}</td>
                      <td>
                          <tr *ngFor=" let cityTab of countryTab.States[z].Cities">
                            <td>{{cityTab}}</td>
                          </tr>
                        </td>
                  </tr>
                </td>
                
              </tr> -->

              <!-- <tr *ngFor="let row of tables.rows">
                  <td *ngFor="let column of tables.cols">{{row[column]}}</td>
                </tr> -->

                <!-- <tr *ngFor= " let country of countryInfo; let l = index">
                  <td>{{country.CountryName}}</td>
                  <td>
                    <tr *ngFor= " let state of country.States; let p = index">{{state.StateName}}</tr>
                  </td>
                  <td>
                    <tr *ngFor= "let city of country.State[p].Cities">{{city}}</tr>
                  </td>
                </tr> -->
                
                <ng-container *ngFor= "let countryTab of posts; let Co = index">
                 
                  <ng-container *ngFor= "let satesTab of countryTab.States; let s = index">
                
                    <ng-container *ngFor= "let city of satesTab.Cities ; let ci = index">
                      <tr>
                        <td>C{{Co}}-s{{s}}-c{{ci}}</td>
                        <td>{{countryTab.CountryName}}</td>
                        <td>{{satesTab.StateName}} </td>
                        <td>{{city}} </td>
                      </tr>
            
                    </ng-container>
                  </ng-container>
                </ng-container>
              
            </tbody>
          </table>
    </div>
  </div>
</div>
